@import "partials/grids";

html, body {
    padding: 0;
    margin: 0;

    font-family: "Open Sans";
}

nav {
    background-color: #175DDC;
    height: 3.5rem;
    line-height: 3.5rem;

    font-weight: 600;
    font-size: 0.9rem;

    .navbar {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-start;

        .nav-section {
            flex-basis: percentage(1/2);
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            vertical-align: middle;
            white-space: nowrap;

            li {
                &.left { float: left; }
                &.right { float: right; }

                .nav-link {
                    display: block;
                    text-align: center;
                    padding: 0rem 0.8rem;
                    text-decoration: none;
                    transition-duration: 200ms;
                    color: #D7D7D7;

                    &:hover, &.active {
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}
