<!DOCTYPE html>
<html>
    <head>
        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/fonts.css' %}">

        <script src="{% static 'js/modals.js' %}"></script>
        <script src="{% static 'js/util.js' %}"></script>

        <title>DjangoPasswordManager</title>
    </head>
    <body>
        <header>
            {% if messages %}
                {% for message in messages %}
                    <div class="main-flashes">
                        <div class="flash-message flash-{{ message.tags }}">
                            <p>{{ message }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <nav>
                <div class="navbar">
                    <div class="nav-section">
                        <ul>
                            <li class="left"><a class="nav-link active" href="{% url 'passwords:vault' %}">My Vault</a></li>
                            {% if user.is_authenticated %}
                                <li class="left"><a class="nav-link" href="#generator">Generator</a></li>
                                <li class="left"><a class="nav-link" href="{% url 'accounts:delete_account' %}">Settings</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="nav-section">
                        <ul>
                            {% if user.is_authenticated %}
                                <li class="right"><a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a></li>
                                <li class="right"><a class="nav-link" href="{% url 'accounts:delete_account' %}">{{ user.email }}</a></li>
                            {% else %}
                                <li class="right"><a class="nav-link" href="{% url 'accounts:register' %}">Register</a></li>
                                <li class="right"><a class="nav-link" href="{% url 'accounts:login' %}">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock content %}
        </main>
    </body>
</html>
