{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-3">
        <p>Folders nav goes here</p>
    </div>
    <div class="col-6">
        <div class="header">
            <h2>My Vault</h2>
            <button class="btn">Add Item</button>
        </div>
        <table class="entries-table">
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Password</th>
                <th>Notes</th>
                <th>Actions</th>
            </tr>
            {% for entry in entries %}
                <tr>
                    <td><a href="{{ entry.uri }}" target="_blank">{{ entry.name}}</a></td>
                    <td>{{ entry.username }}</td>
                    <td>{{ entry.password }}</td>
                    <td>{{ entry.notes }}</td>
                    <td>
                        <button class="btn">Edit</button>
                        <button class="btn">Delete</button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-3">
        <p>Password generator goes here?</p>
    </div>
</div>
{% endblock content %}
