{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="row">
    <div class="col-3">
        <p>Folders nav goes here</p>
    </div>
    <div class="col-6 vault-list">
        <div class="header">
            <h2>My Vault</h2>
            <button class="btn btn-open">+ Add Item</button>
        </div>

        <div class="overlay hidden">
            <section class="modal hidden">
                <div class="flex">
                    <h3 class="bold">ADD ITEM</h3>
                    <button class="btn-close">⨉</button>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="label-field">
                        <div class="fit-input-wrapper">
                            <div class="fit-input-wrapper-inner">
                                <label>Name</label>
                            </div>
                            <div class="fit-input-wrapper-inner">
                                <label>Folder</label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="fit-input-wrapper">
                            <div class="fit-input-wrapper-inner">
                                {% render_field form.name class+="fit-input" %}
                            </div>
                            <div class="fit-input-wrapper-inner">
                                <select name="folders" class="fit-input">
                                    <option value="no_folder">No Folder</option>
                                    <option value="no_folder">School</option>
                                    <option value="no_folder">Work</option>
                                    <option value="no_folder">Recycle Bin</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="label-field">
                        <div class="fit-input-wrapper">
                            <div class="fit-input-wrapper-inner">
                                <label>Username</label>
                            </div>
                            <div class="fit-input-wrapper-inner">
                                <label>Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="fit-input-wrapper">
                            <div class="fit-input-wrapper-inner">
                                {% render_field form.username class+="fit-input" %}
                            </div>
                            <div class="fit-input-wrapper-inner">
                                {% render_field form.password class+="fit-input" %}
                            </div>
                        </div>
                    </div>

                    <div class="label-field">
                        <div class="fit-input-wrapper">
                            <div class="fit-input-wrapper-inner">
                                <label>URI</label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="fit-input-wrapper">
                            <div class="fit-input-wrapper-inner">
                                {% render_field form.uri class+="fit-input" %}
                            </div>
                        </div>
                    </div>

                    <div class="label-field">
                        <div class="fit-input-wrapper">
                            <div class="fit-input-wrapper-inner">
                                <label>Notes</label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="fit-input-wrapper">
                            <div class="fit-input-wrapper-inner">
                                <textarea rows=6 class="fit-input"></textarea>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-lg btn-pop">Save</button>
                        <button class="btn btn-lg btn-alt">Cancel</button>
                    </div>
                </form>
            </section>
        </div>

        <table class="entries-table">
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Password</th>
                <th>Notes</th>
                <th>Actions</th>
            </tr>
            {% for entry in entries %}
                <tr>
                    <td><a href="{{ entry.uri }}" target="_blank">{{ entry.name}}</a></td>
                    <td>{{ entry.username }}</td>
                    <td>{{ entry.password }}</td>
                    <td>{{ entry.notes }}</td>
                    <td>
                        <button class="btn">Edit</button>
                        <button class="btn">Delete</button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-3">
        <p>Password generator goes here?</p>
    </div>
</div>

<script>
// https://codepen.io/evavic44/pen/zYjjzoV

const modal = document.querySelector(".modal");
const overlay = document.querySelector(".overlay");
const openModalBtn = document.querySelector(".btn-open");
const closeModalBtn = document.querySelector(".btn-close");

// close modal function
const closeModal = function () {
  modal.classList.add("hidden");
  overlay.classList.add("hidden");
};

// close the modal when the close button and overlay is clicked
closeModalBtn.addEventListener("click", closeModal);

// close modal when the Esc key is pressed
document.addEventListener("keydown", function (e) {
  if (e.key === "Escape" && !modal.classList.contains("hidden")) {
    closeModal();
  }
});

// open modal function
const openModal = function () {
  modal.classList.remove("hidden");
  overlay.classList.remove("hidden");
};
// open modal event
openModalBtn.addEventListener("click", openModal);
</script>

{% endblock content %}
